  <tr>
    <td>
      <%= fact.character %>
    </td>

    <td>
      <%= fact.droid %>
    </td>

    <td>
      <%= fact.planet %>
    </td>

    <td>
      <%= fact.quote %>
    </td>
    <td>
      <%= link_to "Show this fact", fact %>
    </td>
  </tr>

